.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu li {
  margin: 0 1.5rem;
  font-size: 1.1rem;
}

.nav-menu li a {
  color: #006666;
  text-decoration: none;
  font-weight: 600;
}

.active {
  color: #033232;
  font-weight: bold;
  font-size: 1.4rem;
}
